@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 226 50% 97%; /* #F0F2FA */
    --foreground: 225 31% 17%;
    --card: 0 0% 100%;
    --card-foreground: 225 31% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 225 31% 17%;
    --primary: 232 51% 50%; /* #3F51B5 */
    --primary-foreground: 0 0% 100%;
    --secondary: 228 33% 93%;
    --secondary-foreground: 225 31% 17%;
    --muted: 228 33% 93%;
    --muted-foreground: 225 10% 45%;
    --accent: 34 100% 63%; /* #FFAB40 */
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 20% 88%;
    --input: 230 20% 88%;
    --ring: 232 51% 50%;
    --chart-1: 232 51% 50%;
    --chart-2: 34 100% 63%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 0 0% 98%;
    --card: 222 84% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 232 51% 65%;
    --primary-foreground: 232 51% 15%;
    --secondary: 222 47% 11%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 47% 11%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 34 100% 63%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 11%;
    --input: 222 47% 11%;
    --ring: 232 51% 65%;
    --chart-1: 232 51% 65%;
    --chart-2: 34 100% 63%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
